
<section id="app-dashboard">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card" shadow="true">
        <div class="card-body" >
          <h5 class="card-title">Alerta de Pago</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card" shadow="true">
        <div class="card-body" >
          <h5 class="card-title">Alerta de Vencimiento</h5>
        </div>
      </div>
    </div>
  </div>
</section>
