<section id="app-image-gallery">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="card-controls">
            <div class="row">
              <div class="col-xs-col col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5 class="card-title m-0">Galería de imágenes</h5>
              </div>
            </div>
          </div>
          <app-image-gallery-component></app-image-gallery-component>
        </div>
      </div>
    </div>
  </div>
</section>
