<section id="app-settings">
  <div class="row">
    <div class="col-12">
      <div id="card-header" class="card">
        <div class="card-body">
          <h5 class="card-title">Configuración</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card shadow card-setting-item" routerLink="/admin/settings/branch-offices">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
              class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape rounded me-4 me-sm-0" icon-shape-primary="true">
                <span class="material-icons card-setting-icon">domain_add</span>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5"> Administración</h2>
                <h3 class="mb-1">Sucursales</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0"> Administración</h2>
                <h3 class="fw-extrabold mb-0">Sucursales</h3>
              </div>
              <small class="text-gray-500">
                {{
                totalCounter.branches === 0 ? 'No hay sucursales registradas' :
                totalCounter.branches + (totalCounter.branches > 1 ? ' Sucursales registradas' : ' Sucursal registrada')
                }}
              </small>
              <!-- <div class="small d-flex mt-1">
                <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg><span class="text-success fw-bolder">4%</span></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card shadow card-setting-item" routerLink="/admin/settings/shapes">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
              class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape rounded me-4 me-sm-0" icon-shape-primary="true">
                <span class="material-icons card-setting-icon">interests</span>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5"> Administración</h2>
                <h3 class="mb-1">Objetos</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0"> Administración</h2>
                <h3 class="fw-extrabold mb-0">Objetos</h3>
              </div>
              <small class="text-gray-500">
                {{
                totalCounter.shapes === 0 ? 'No hay objetos registrados' :
                totalCounter.shapes + (totalCounter.shapes > 1 ? ' Objetos registrados' : ' Objeto registrado')
                }}
              </small>
              <!-- <div class="small d-flex mt-1">
                <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg><span class="text-success fw-bolder">4%</span></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card shadow card-setting-item" routerLink="/admin/settings/images-gallery">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
              class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape rounded me-4 me-sm-0" icon-shape-primary="true">
                <span class="material-icons card-setting-icon">photo_library</span>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5">Administración</h2>
                <h3 class="mb-1">Galería</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0">Administración</h2>
                <h3 class="fw-extrabold mb-0">Galería</h3>
              </div>
              <small class="text-gray-500">
                {{
                totalCounter.images === 0 ? 'No hay imágenes registradas' :
                totalCounter.images + (totalCounter.images > 1 ? ' Imágenes registradas' : ' Imágen registrada')
                }}
              </small>
              <!-- <div class="small d-flex mt-1">
                <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg><span class="text-success fw-bolder">4%</span></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *adminsOnly class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <div class="card shadow card-setting-item" routerLink="/admin/settings/users">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <div
              class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
              <div class="icon-shape rounded me-4 me-sm-0" icon-shape-primary="true">
                <span class="material-icons card-setting-icon">groups</span>
              </div>
              <div class="d-sm-none">
                <h2 class="fw-extrabold h5">Administración</h2>
                <h3 class="mb-1">Usuarios</h3>
              </div>
            </div>
            <div class="col-12 col-xl-7 px-xl-0">
              <div class="d-none d-sm-block">
                <h2 class="h6 text-gray-400 mb-0">Administración</h2>
                <h3 class="fw-extrabold mb-0">Usuarios</h3>
              </div>
              <small class="text-gray-500">
                {{
                totalCounter.users === 0 ? 'No hay usuarios registrados' :
                totalCounter.users + (totalCounter.users > 1 ? ' Usuarios registrados' : ' Usuario registrado')
                }}
                -
                {{
                totalCounter.roles === 0 ? 'No hay roles registrados' :
                totalCounter.roles + (totalCounter.roles > 1 ? ' Roles' : ' Rol')
                }}
              </small>
              <!-- <div class="small d-flex mt-1">
                <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg><span class="text-success fw-bolder">4%</span></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>