<section id="app-branch-buildings">
  <div *ngIf="cantCreateBuilding; else canCreate">
    <app-no-content-component text="Faltan completar datos de sucursal" icon="feedback"></app-no-content-component>
  </div>
  <ng-template #canCreate>
    <form [formGroup]="form" autocomplete="off" (ngSubmit)="submitEventHandler(form.value)">
      <app-simple-card headerText="Configuración de Edificios">
        <div class="sc-row">
          <label for="descriptionInput" class="row-label">
            <div class="label-text">
              <span>Nombre</span>
            </div>
            <div class="label-hinttext">El nombre para el Edificio</div>
          </label>
          <div class="row-column">
            <div class="column-container">
              <div class="control-wrapper">
                <input type="text" id="descriptionInput" class="form-control" formControlName="description">
                <div class="input-trailing-items"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-row">
          <label for="coefficientInput" class="row-label">
            <div class="label-text">
              <span>Coeficiente</span>
            </div>
            <div class="label-hinttext">Utilizado para el cálculo del precio de los espacios</div>
          </label>
          <div class="row-column">
            <div class="column-container">
              <div class="control-wrapper">
                <input type="number" id="coefficientInput" class="form-control" formControlName="coefficient">
                <div class="input-trailing-items"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-row">
          <label for="dummieInput" class="row-label"></label>
          <div class="row-column">
            <div class="column-container">
              <div class="control-wrapper">
                <button class="btn" color="primary" [disabled]="form.invalid">Crear Edificio</button>
              </div>
            </div>
          </div>
        </div>
      </app-simple-card>
    </form>
    <app-simple-table [columns]="4" *ngIf="buildings.length">
      <div class="st-header">Nombre</div>
      <div class="st-header">Coeficiente</div>
      <div class="st-header">Activo</div>
      <div class="st-header">Acciones</div>
      <ng-container *ngFor="let row of buildings">
        <div class="st-row">
          <a routerLink="/admin/settings/branch-offices/buildings"
            [queryParams]="{ page: 'basic', 'ref.building': row.uid }" queryParamsHandling="merge"
            color="primary">{{row.description}}</a>
        </div>
        <div class="st-row">{{row.coefficient}}</div>
        <div class="st-row">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
              [checked]="(row.status === 'active')" (change)="statusChangeEventHandler(row)">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>
        </div>
        <div class="st-row">
          <button class="btn btn-xs" color="outline-danger" (click)="deleteClickEventHandler(row)">Eliminar</button>
        </div>
      </ng-container>
    </app-simple-table>
  </ng-template>
</section>