<section id="shapes" class="flex-grow-1">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card" shadow="true">
        <div class="card-body">
          <div class="card-controls">
            <div class="row">
              <div class="col-xs-col col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5 class="card-title">Objetos</h5>
              </div>
              <div class="col-xs-col col-sm-12 col-md-6 col-lg-6 col-xl-6" align="end">
                <button class="btn btn-sm" routerLink="/admin/shapes/create" buttons color="primary">Nuevo</button>
              </div>
            </div>
          </div>
          <app-table [options]="tableOptions"></app-table>
        </div>
      </div>
    </div>
  </div>
</section>
